<p>
  <mat-toolbar>
    <span>WorkLog Tracker</span>
  </mat-toolbar>
</p>
<div class="container">
  <mat-grid-list cols="6" rowHeight="1:1">
    <mat-grid-tile [colspan]="5">
      <mat-form-field class="input" appearance="outline">
        <mat-label>Task name / Link</mat-label>
        <input matInput placeholder="Ex. PROD-4512" [formControl]="taskName">
        <mat-icon matSuffix>code</mat-icon>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1">
      <button mat-raised-button (click)="addTask()">Add</button>
    </mat-grid-tile>

  </mat-grid-list>
  <!-- <app-task></app-task> -->

  <mat-card class="task-card" *ngFor="let task of tasks; let indexOfelement=index;">
    <mat-card-header>
      <div mat-card-avatar class="card-header-image"></div>
      <mat-card-title>
        {{task.name}}
      </mat-card-title>
      <mat-card-subtitle *ngIf="task.timeSpent <= 60">{{task.timeSpent}} <small>Minutes</small></mat-card-subtitle>
      <mat-card-subtitle *ngIf="task.timeSpent > 60">{{task.timeSpent/60}} <small>Hours</small></mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-raised-button color="primary" *ngIf="task.start.length == task.end.length"
        (click)="startWork(indexOfelement)">Start</button>
      <button mat-raised-button color="warn" *ngIf="task.start.length != task.end.length"
        (click)="stopWork(indexOfelement)">Stop</button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="tasks.length == 0">
    <mat-card-content class="blank center">
      <mat-icon>code</mat-icon><br>
      <h5>No task!</h5>
    </mat-card-content>
  </mat-card>

  <mat-divider></mat-divider>
  <footer>
    <nav>
      <a href="javascript:void()" (click)="clearCache()">Clear All</a> |
      <a href="javascript:;" (click)="openShortWindow()">Open In PopUp</a>
    </nav>
  </footer>
</div>